.container {
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Spacing inside the container */
    max-width: 80%; /* Maximum width */
    margin: 50px auto; /* Centering the container */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.container h1{
    padding: 10px;
}
.container h2{
    padding: 10px;
}


